$FontAwesomePath: "/bower_components/font-awesome/font";

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "font-awesome/scss/font-awesome";

$MIDNIGHT_BLUE: #2C3E50;
$WET_ASPHALT: #34495E;
$GREEN_SEA: #16A085;
$TURQUOISE: #1ABC9C;
$CONCRETE: #95A5A6;
$CLOUDS: #ECF0F1;
$SILVER: #BDC3C7;
$AMETHYST: #9B59B6;
$WISTERIA: #8E44AD;
$POMEGRANATE: #C0392B;
$ALIZARIN: #E74C3C;
$EMERALD: #2ECC71;
$NEPHRITIS: #27AE60;

body {
  font: 10px/1.25 Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.clearfix {
  @include pie-clearfix;
}

.outlet {
  position: relative;
}

.pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 100;
  &.active {
    z-index: 200;
    display: block;
  }
}

#searchForm {
  color: $CONCRETE;
  background: white;
  
  fieldset {
    padding: 1em;
    font-size: 3em;
    background: $CLOUDS;
    border-radius: 0.5em;
    margin: 1em;
  }
  
  input {
    border: 0;
    outline: none;
    font-size: 1em;
    background: none;
    margin:0;
    width: 80%;
    display: inline-block;
  }
  
  .icon-btn {
    text-decoration: none;
    display: inline-block;
    color: $SILVER;
    width: 15%;
    text-align: center;
    
  }
  
  .home-btn {
    display: none;
    border-right: 1px solid $SILVER;
  }
  
  .close-btn {
    display: none;
    float: right;
    text-align: right;
    i {
      vertical-align: middle;
    }
  }
  
  &.in-session {
    .home-btn {
      display: inline-block;
    }
    input {
      width: 66%;
    }
  }
  
  .query-history {
    display: none;
    li {
      padding: 0.25em 0.5em;
      font-size: 0.8em;
      &:first-child {
        margin-top: 1em;
      }
      a {
        text-decoration: none;
        color: $CONCRETE;
        &:hover {
          color: $AMETHYST;
        }
      }
    }
  }
  
  &.expanded {
    width: 100%;
    
    input {
      color: $WET_ASPHALT;
    }
    .query-history {
      display: block;
    }
  }
  
}

#photos {

  .info {
    display: none;
    font-size: 2em;
    padding: 1em 1.5em;
    color: $SILVER;
  }
  
  .list {
    display: none;
    list-style: none;
    padding: 0 0 3em 3em;
    
    li {
      float: left;
      padding-right: 3em;
      padding-bottom: 3em;
      img {
        width: 150px;
        height: 150px;
      }
      
    }
  }
  
  .navigation, .info {
    clear: both;
  }
  
  .navigation {
    padding: 3em;
    
    .page-counter {
      margin: 0.5em;
      font-size: 2em;
      color: $SILVER;
      text-align: center;
    }
    
    .navi {
      border-radius: 0.5em;
      background: $CLOUDS;
      overflow: hidden;
      li {
        float: left;
        width: 50%;
        visibility: hidden;
        &.active {
          visibility: visible;
        }
      }
      a {
        
        text-decoration: none;
        padding: 0.5em 1em;
        font-size: 2em;
        color: $MIDNIGHT_BLUE;
        display: block;
        text-align: center;
        &:hover {
          background: $CONCRETE;
          color: white;
        }
//        &.prev {
//          border-right-top-radius: 0;
//          border-right-bottom-radius: 0;
//        }
//        &.next {
//          border-left-top-radius: 0;
//          border-left-bottom-radius: 0;
//        }
      }
    }
  }
  
} 

#lightbox {
  background: white;
  .content {
    position: relative;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .navi-btn {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: black;
    opacity: 0;
    color: white;
    z-index: 110;
    text-align: center;
    span {
      position: absolute;
      top: 50%;
      left: 1em;
      font-size: 4em;
      line-height: 100%;
      vertical-align: middle;
      display: inline-block;
    }
    &:hover {
      opacity: 0.5;
    }
    &.prev {
      
    }
    &.next {
      left: 50%;
    }
  }
  .tags {
    margin-top: 0.5em;
    li {
      float: left;
      margin: 0.25em;
      font-size: 1.6em;
      a {
        border-radius: 5px;
        background: $MIDNIGHT_BLUE;
        color: white;
        padding: 0.25em 0.5em;
        display: block;
        text-decoration: none;
        &:hover {
          background: $WET_ASPHALT;
        }
      }
    }
  }
  
}


@media only screen and (max-width: 768px) {
  
  
  #searchForm {
    
    fieldset {
      font-size: 2em;
      padding: 0.5em;
      margin: 0.5em;
    }
  }
  
  #photos {
    .list {
      padding-top: 0.5em;
      padding-left: 0.7em;
      li {
        padding: 0 0.6em 0.6em 0;
      }
      img {
        max-width: 150px;
        max-height: 150px;
      }
    }
    
  }
  
  #lightbox {
    .navi-btn {
      display: none;
//opacity: 0.5;
    }
  }
  
}