$FontAwesomePath: "/bower_components/font-awesome/font";

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "font-awesome/scss/font-awesome";

$MIDNIGHT_BLUE: #2C3E50;
$WET_ASPHALT: #34495E;
$GREEN_SEA: #16A085;
$TURQUOISE: #1ABC9C;
$CONCRETE: #95A5A6;
$CLOUDS: #ECF0F1;
$SILVER: #BDC3C7;
$AMETHYST: #9B59B6;
$WISTERIA: #8E44AD;
$POMEGRANATE: #C0392B;
$ALIZARIN: #E74C3C;
$EMERALD: #2ECC71;
$NEPHRITIS: #27AE60;

body {
  font: 10px/1.25 Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

* {
  box-sizing: border-box;
}

.clearfix {
  @include pie-clearfix;
}

.outlet {
  position: relative;
}

.pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 100;
  &.active {
    z-index: 200;
    display: block;
  }
}

#searchForm {
  color: $CONCRETE;
  
  fieldset {
    padding: 1em;
    border-bottom: 1px solid $CONCRETE;
  }
  
  input {
    width: 100%;
    font-size: 3em;
    border: 0;
    background: $CLOUDS;
    border-radius: 10px;
    padding: 0.5em 1em;
    outline: none;
  }
}

#queries {
  a {
    padding: 1em 1em;
    text-decoration: none;
    color: $CONCRETE;
    display: block;
    border-bottom: 1px solid $CLOUDS;
    &:hover, &:active {
      color: white;
      background: $ALIZARIN;
      border-bottom: $POMEGRANATE;
    }
  }
  ul {
    list-style: none;
    font-size: 1.6em;
  }
}


#photos {

  .info {
    display: none;
    font-size: 2em;
  }
  
  .list {
    display: none;
    list-style: none;
    padding: 0.5em;
    
    li {
      float: left;
      padding: 0.5em;
      img {
        width: 150px;
        height: 150px;
      }
      
    }
  }
  
  .navigation, .info {
    clear: both;
    padding: 1em;
    font-size: 1.6em;
  }
  
} 

#lightbox {
  background: white;
  .content {
    position: relative;
    text-align: center;
    &:hover {
      .back-btn {
        display: block;
      }
    }
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .back-btn {
    text-decoration: none;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: black;
    opacity: 0.5;
    color: white;
    span {
      position: absolute;
      top: 50%;
      left: 1em;
      font-size: 4em;
      line-height: 100%;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .tags {
    margin-top: 0.5em;
    li {
      float: left;
      margin: 0.25em;
      font-size: 1.6em;
      a {
        border-radius: 5px;
        background: $MIDNIGHT_BLUE;
        color: white;
        padding: 0.25em 0.5em;
        display: block;
        text-decoration: none;
        &:hover {
          background: $WET_ASPHALT;
        }
      }
    }
  }
  
}