@import "compass/reset";

$MIDNIGHT_BLUE: #2C3E50;
$WET_ASPHALT: #34495E;
$GREEN_SEA: #16A085;
$TURQUOISE: #1ABC9C;
$CONCRETE: #95A5A6;
$CLOUDS: #ECF0F1;
$SILVER: #BDC3C7;
$AMETHYST: #9B59B6;
$WISTERIA: #8E44AD;
$POMEGRANATE: #C0392B;
$ALIZARIN: #E74C3C;
$EMERALD: #2ECC71;
$NEPHRITIS: #27AE60;

* {
  box-sizing: border-box;
}

.outlet {
  position: relative;
}

.pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 100;
  
  &.active {
    z-index: 200;
    display: block;
  }
}

#searchForm {
  color: $CONCRETE;
  
  fieldset {
    padding: 1em;
    border-bottom: 1px solid $CONCRETE;
  }
  
  input {
    width: 100%;
    font-size: 2em;
    border: 0;
    background: $CLOUDS;
    border-radius: 10px;
    padding: 0.5em 1em;
    outline: none;
  }
}

#queries {
  a {
    padding: 1em 1em;
    text-decoration: none;
    color: $CONCRETE;
    display: block;
    border-bottom: 1px solid $CLOUDS;
    &:hover, &:active {
      color: white;
      background: $ALIZARIN;
      border-bottom: $POMEGRANATE;
    }
  }
  ul {
    list-style: none;
  }
}


#photos {

  .info {
    display: none;
  }
  
  .list {
    display: none;
    list-style: none;
    padding: 0.5em;
    
    li {
      float: left;
      padding: 0.5em;
      img {
        width: 150px;
        height: 150px;
      }
      
    }
  }
  
  .navigation, .info {
    clear: both;
    padding: 1em;
  }
  
} 

#lightbox {
  background: white;
  img {
    max-width: 100%;
  }
}