/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../scss/gallery.scss */
* {
  box-sizing: border-box;
}

/* line 21, ../scss/gallery.scss */
.outlet {
  position: relative;
}

/* line 25, ../scss/gallery.scss */
.pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 100;
}
/* line 34, ../scss/gallery.scss */
.pane.active {
  z-index: 200;
  display: block;
}

/* line 40, ../scss/gallery.scss */
#searchForm {
  color: #95a5a6;
}
/* line 43, ../scss/gallery.scss */
#searchForm fieldset {
  padding: 1em;
  border-bottom: 1px solid #95a5a6;
}
/* line 48, ../scss/gallery.scss */
#searchForm input {
  width: 100%;
  font-size: 2em;
  border: 0;
  background: #ecf0f1;
  border-radius: 10px;
  padding: 0.5em 1em;
  outline: none;
}

/* line 60, ../scss/gallery.scss */
#queries a {
  padding: 1em 1em;
  text-decoration: none;
  color: #95a5a6;
  display: block;
  border-bottom: 1px solid #ecf0f1;
}
/* line 66, ../scss/gallery.scss */
#queries a:hover, #queries a:active {
  color: white;
  background: #e74c3c;
  border-bottom: #c0392b;
}
/* line 72, ../scss/gallery.scss */
#queries ul {
  list-style: none;
}

/* line 80, ../scss/gallery.scss */
#photos .info {
  display: none;
}
/* line 84, ../scss/gallery.scss */
#photos .list {
  display: none;
  list-style: none;
  padding: 0.5em;
}
/* line 89, ../scss/gallery.scss */
#photos .list li {
  float: left;
  padding: 0.5em;
}
/* line 92, ../scss/gallery.scss */
#photos .list li img {
  width: 150px;
  height: 150px;
}
/* line 100, ../scss/gallery.scss */
#photos .navigation, #photos .info {
  clear: both;
  padding: 1em;
}

/* line 107, ../scss/gallery.scss */
#lightbox {
  background: white;
}
/* line 109, ../scss/gallery.scss */
#lightbox img {
  max-width: 100%;
}
